/**
 * @summary button
 * @description 디자인 버튼 스타일 정의
 */

/* 버튼 스타일 믹스인 */
@mixin btnStyle($fontColor, $bdColor, $bgColor) {
    font-size: $baseFontSize;
    font-weight: 300;
    border:1px solid $bdColor !important;
    border-radius: 3px;
    background-color: $bgColor !important;
}

.success-button {
	display: block;
	width: 100%;
	height: 56px;
	margin: 24px 0 0;
	font-size: $fSize-s;
	color: $white;
	text-align: center;
	background-color: $dodger-blue;
	border-radius: 6px;
	&:disabled {
		color: $white;
		border-color: $light-blue-grey;
		background-color: $light-blue-grey;
	}
}