// 키보드 자판
.keyboard {
	overflow: hidden;
	button {
		float: left;
		width: 33.33%;
		height: 68px;
		&:active {
			span {
				color: $battleship-grey;
			}
		}
	}
	span {
		display: block;
		height: 100%;
		font-size: 30px;
		line-height: 68px;
		vertical-align: middle;
		color: #585865;
		&.cancel-text {
			font-size: 17px;
		}
	}
	img {
		display: block;
		margin: 22px auto;
	}
}

// 스티키 헤더
.sticky-header {
	display: flex;
	align-items: stretch;
	justify-items: stretch;
	align-content: center;
	padding: 10px 16px;
	.amount-text {
		width: 100%;
		height: 100%;
		color: $dark;
		text-align: center;
		font-weight: 600;
	}
	.right-button {
		width: 24px;
	}
}

// 계좌 목록
.list-widget {
	.list-item {
		padding: 16px 0;
		border-bottom: 0;
		&.active {
			background: url('https://static.toss.im/tds/icon/png/4x/icn-check-color.png') no-repeat right center;
			background-size: 20px;
		}
		.ant-list-item-meta-title {
		  font-size: 16px;
		  color: $charcoal-grey;
		}
		.ant-list-item-meta-description {
			font-size: 15px;
			color: $battleship-grey;
		}
	}
}

// 보내기 버튼
.success-button {
	display: block;
	width: 100%;
	height: 56px;
	margin: 16px 0 0;
	font-size: $fSize-s;
	color: $white;
	text-align: center;
	background-color: $dodger-blue;
	border-radius: 6px;
	&:disabled:hover,
	&:disabled {
		color: $white;
		border-color: $light-blue-grey;
		background-color: $light-blue-grey;
	}
}

.ant-avatar {
	width: 40px;
	height: 40px;
	padding: 7px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	img {
		width: 100%;
	}
}