/**
 * @summary Home 컴포넌트에 대한 CSS
 */

.home-widget {
	display: flex;
	align-items: stretch;
	justify-items: stretch;
	flex-direction: column;
	height: 100%;
	.amount-widget {
		display: flex;
		height: 100%;
		.amount-box {
			margin: auto;
			color: $dark;
			letter-spacing: -0.34px;
			.amount {
				font-size: $fSize-xl;
				text-align: center;
			}
			.description {
				height: 19px;
				font-size: 13px;
				color: $battleship-grey;
				text-align: center;
				opacity: 0;
				transition: 0.5s;
				&.active {
					opacity: 1;
				}
			}
			.currency {
				margin: 0 0 0 6px;
				font-size: 43px;
			}
		}
	}
	.keyboard-widget {
		padding: 0 24px 34px;
	}
}